body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.header a {
  text-decoration: none;
}
.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.logo-studio,
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.66;
  letter-spacing: 0.03em;
}

.contacts a {
  font-style: normal;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.btn {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
button {
  cursor: pointer;
}

.page-title {
  background-color: #2e2f42;
}
.main-title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  letter-spacing: 0.02em;
}

.page-nav a {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.contacts a:hover,
.contacts a:focus,
.page-nav a:hover,
.page-nav a:active,
.page-nav a:focus {
  color: #404bbf;
}

ul,
ol {
  list-style-type: none;
}

.team {
  background-color: #f4f4fd;
}

.team h3,
.team p {
  text-align: center;
}

.team p {
  color: #434455;
  font-size: 16px;
}

.team h3,
.portfolio h3,
.features h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team p,
.portfolio p,
.features p {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.team li {
  border: 1px solid;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-title,
.team-title,
.features-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.footer-page {
  background-color: #2e2f42;
}
.footer-page a {
  text-decoration: none;
}
.footer-logo-web {
  color: #4d5ae5;
}

.footer-logo-studio {
  color: #f4f4fd;
}
.footer-logo-studio,
.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.66;
  letter-spacing: 0.03em;
}

.footer-page p {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
